[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]

[[block page_title]]Problems[[end]]

<div class="tabs is-medium">
    <ul>
      <li [[if category=='published':]]class="is-active"[[pass]]><a href="[[=URL('problem_list', vars=dict(type='published'))]]">On Going</a></li>
      <li [[if category=='expired':]]class="is-active"[[pass]]><a href="[[=URL('problem_list', vars=dict(type='expired'))]]">Expired</a></li>
    [[if user_role!='student':]]
      <li [[if category=='unpublished':]]class="is-active"[[pass]]><a href="[[=URL('problem_list', vars=dict(type='unpublished'))]]">Unpublished</a></li>
      <li><a href="[[=URL('new_problem')]]">New Problem</a></li>
    [[pass]]
    </ul>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Posted</th>
            <th>Last updated</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
    
    [[for idx, p in enumerate(problems):]]
        <tr>
            <td><a href="[[=URL('view_problem/'+str(p.id))]]">[[=p.problem_name]]</a></td>
            <td><p id="deadline_[[=idx]]"></p></td>
            <td>[[=p.problem_uploaded_at]]</td>
            <td>[[=p.last_updated_at]]</td>
            <td>[[=p.type]]</td>
        </tr>
    [[pass]]
     
    </tbody>
</table>
<script>
    var deadlines = new Array()
    [[for p in problems:]]
        [[if p.deadline != None:]]
        deadlines.push(new Date(Date.UTC([[=p.deadline.year]], [[=p.deadline.month-1]], [[=p.deadline.day]], [[=p.deadline.hour]], [[=p.deadline.minute]], [[=p.deadline.second]], 0)).getTime());
        [[else:]]
        deadlines.push('not-yet-published');
        [[pass]]
    [[pass]]
    function calc_deadlines(){
        var now = new Date().getTime();
        for(var i=0; i<deadlines.length; i++){
            if (deadlines[i]=='not-yet-published'){
                document.getElementById("deadline_"+i).innerHTML = 'tba';
            } else {
                var distance = deadlines[i] - now;
                if (distance<=0){
                    document.getElementById("deadline_"+i).innerHTML = 'Expired';
                }
                else{
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    // var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    var msg = "";
                    if (days==1)
                        msg += " 1 day";
                    else if (days>1)
                        msg += " "+days+" days";
                    
                    if (hours==1)
                        msg += " 1 hour";
                    else if (hours>1)
                        msg += " "+hours+" hours";
                    if (minutes==1)
                        msg += " 1 minute";
                    else if (minutes>1)
                        msg += " "+minutes+" minutes";
                    
                    if (days+hours+minutes==0){
                        msg += " < 1 minute";
                    }
                    
                    document.getElementById("deadline_"+i).innerHTML = msg;
                }
            }
            
        }
        setInterval(calc_deadlines, 60000);
    }
    calc_deadlines();
</script>

[[end]]