
<div>
    <div><label>Name: </label>[[=problem_name]]</div>
    [[if deadline is not None:]]<div><label>Deadline: </label><span id="deadline"></span></div>[[pass]]
    <div><label>Number of attempts allowed: </label>[[=attempts]]</div>
    <div><label>Maximum Score: </label>[[=max_points]]</div>
    <div><label>Language: </label>[[=language]]</div>
    <div><label>Description: </label>
        <pre>[[=problem_description]]</pre>
    </div>
    <div><label>Code: </label><div><textarea id="code">[[=code]]</textarea></div></div>
    [[if user_role=='instructor' or user_role=='ta':]]
        <div><label>Answer: </label>[[=answer]]</div>
        <div><label>Topics: </label>[[=topics]]</div>
    [[pass]]
    [[if deadline is not None:]]
        <div><label>Total Submissions:</label> [[=number_of_submission]] ([[=graded_correct]] Correct, [[=graded_incorrect]] Incorrect, [[=number_of_submission-graded_correct-graded_incorrect]] Ungraded)</div>
        
    [[pass]]
</div>
