[[extend 'layout_instructor.html']]

<h1>Problem publishing</h1>

<p>Once a problem is published, students can see them and submit their solutions.</p>

<div>
    [[=form]]
    <button id="cancelButton" v-on:click="cancel_button_action">Cancel</button>
</div>
[[block page_scripts]]
<script>
    new Vue({
        el: "#cancelButton",
        methods: {
            cancel_button_action: function(event){
                window.location.href = "[[=URL('view_problem/'+str(problem_id))]]";                
            }
        }
    });
</script>
[[end]]