

[[block page_title]]Workspace[[end]]
<div>
    
    <!-- <p id="countdown" style="text-align: right;font-size: 25px; margin-top: 0px;"></p> -->
    <div class="tabs is-medium">
        <ul>
          <li><a href="[[=URL(('view_' if role==1 else '')+'problem/'+str(problem.id))]]">Problem Information</a></li>
          <li class="is-active"><a>Workspace</a></li>
          [[if user_role=='student' and help_eligible==True:]]
            <li><a href="[[=URL('student_workspace_list/'+str(problem.id))]]">Student Workspaces</a></li>
          [[pass]]
          [[i = len(submissions)]]
          [[if role==1:]]
            [[for s in submissions:]]
              <li><a href="[[=URL('view_submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[else:]]
            [[for s in submissions:]]
              <li><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[pass]]
        </ul>
    </div>
    <div>
        <b>Due in:</b> <span id="countdown"></span><br>
        <b>Remaining Attempts:</b> [[=workspace.attempt_left]]<br>
        <b>Status:</b> [[=status]]<br>
        <hr style="height:30px">
        <textarea id="editor1">[[=workspace.content]]</textarea>
        
        [[if user_role=='student' and workspace.attempt_left>0:]]
        <div id="submit-buttons">
          <button class="ui-button ui-widget ui-corner-all" id="submit-button" v-on:click="submit_code">Submit Code</button>
          
        </div>
        [[pass]]
       
       
      
    </div>
    <div class="box">
      <label>Discuss or ask a question</label>
      <textarea id="discussion" ></textarea>
      <button id="post_button" v-on:click="submit_discussion">Submit</button>
      <div id="discussion_threads" class="box">
        [[for d in discussions:]]
        <article class="message is-dark">
            <div class="message-header">
              <p>[[=d.author_id.first_name]] <span style="font-size: 0.7em !important;" id="discussion_time_[[=d.id]]"></span></p>
              
            </div>
              <div class="message-body">
                <div class="columns">
                  <div class="column is-four-fifths">[[=d.message]]</div>
                  <div class="column">
                    <a>
                      [[liked = False]]
                        [[for like in d.comment_like.select():]]
                          [[if like.liked_by==user_id:]]
                            [[liked=True]]
                          [[pass]]
                        [[pass]]
                    <span @click="submit_discussion_like([[=d.id]])" style="font-size: 1.5em; [[if liked==True:]] color:dodgerblue;[[pass]]">
                      <i class="fas fa-thumbs-up"></i>
                    </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <input type="checkbox" id="x[[=d.id]]">
                <label for="x[[=d.id]]">Code Snapshot</label>
                <div>
                  <textarea id="code_snapshot_[[=d.id]]">[[=d.code_snapshot]]</textarea>
                </div>
              </div>
              <div style="margin-left: 50px;">
                [[for comment in d.comment.select():]]
                  <div class="card">
                    <div class="card-content">
                      <div class="media-content">
                        <p class="title is-4">[[=comment.author_id.first_name]] <span style="font-size: 0.7em !important;" id="comment_time_[[=d.id]]_[[=comment.id]]"></span></p>
                        
                       </div>

                        <div class="content">
                          <div class="columns">
                            <div class="column is-four-fifths">[[=comment.message]]</div>
                            <div class="column">
                              <a>
                                [[liked = False]]
                                [[for like in comment.comment_like.select():]]
                                  [[if like.liked_by==user_id:]]
                                    [[liked=True]]
                                  [[pass]]
                                [[pass]]
                              <span @click="submit_comment_like([[=comment.id]])" style="font-size: 1.5em; [[if liked==True:]] color:dodgerblue;[[pass]]">
                                <i class="fas fa-thumbs-up"></i>
                              </span>
                              </a>
                            </div>
                          </div>
                          
                        </div>
                        
                    </div>
                    
                  </div>
                [[pass]]
                <textarea id="new_comment_[[=d.id]]" rows="2" placeholder="Write your feedback"></textarea>
                <button @click="submit_comment([[=d.id]])">Submit</button>
              </div>
        </article>
        [[pass]]
      </div>
    </div>

</div>