[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
[[block page_title]]Submissions[[end]]

<div class="tabs is-medium">
    <ul>
      <li [[if category=='ungraded':]]class="is-active"[[pass]]><a href="[[=URL('submissions', vars=dict(type='ungraded'))]]">Not graded</a></li>
      <li [[if category=='graded':]]class="is-active"[[pass]]><a href="[[=URL('submissions', vars=dict(type='graded'))]]">Graded</a></li>
    </ul>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>#</th>
            <th>Problem</th>
            <th>Student</th>
            <th>Submitted</th>
            
        </tr>
    </tbody>
    <tbody>
    
    [[for i, s in enumerate(subs, 1):]]
        <tr>
            <td>[[=i]]</td>
            <td><a href="[[=URL('view_problem/'+str(s.problem.id))]]">[[=s.problem.problem_name]]</a></td>
            
            <td><a href="[[=URL('view_submission/'+str(s.submission.id))]]">[[=s.auth_user.first_name+' '+s.auth_user.last_name ]]</a></td>
            
            <td><p id="submitted_[[=i-1]]"></p></td>
            
        </tr>
    [[pass]]
     
    </tbody>
</table>

[[block page_scripts]]
<script>
    var submitted = new Array()
    [[for p in subs:]]
        submitted.push(new Date(Date.UTC([[=p.submission.submitted_at.year]], [[=p.submission.submitted_at.month-1]], [[=p.submission.submitted_at.day]], [[=p.submission.submitted_at.hour]], [[=p.submission.submitted_at.minute]], [[=p.submission.submitted_at.second]], 0)).getTime())
    [[pass]]
    function calc_submitted_at(){
        var now = new Date().getTime();
        for(var i=0; i<submitted.length; i++){
            var distance =  now - submitted[i];
           
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            // var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var msg = "";
            if (days==1)
                msg += "1 day";
            else if (days>1)
                msg += days+" days";
            else if (hours==1)
                msg += "1 hour";
            else if (hours>1)
                msg += hours+" hours";
            else if (minutes==1)
                msg += "1 minute";
            else if (minutes>1)
                msg += minutes+" minutes";
            else if (days+hours+minutes==0){
                msg += "< 1 minute";
            }
            msg += " ago";
            document.getElementById("submitted_"+i).innerHTML = msg;
            
            
        }
        setInterval(calc_submitted_at, 60000);
    }
    calc_submitted_at();
</script>
[[end]]