<div>
    <p id="countdown" style="text-align: right;font-size: 25px; margin-top: 0px;"></p>
    <div class="tabs is-medium">
        <ul>
          <li><a href="[[=URL(('view_' if role==1 else '')+'problem/'+str(problem_id))]]">Problem Information</a></li>
          <li><a href="[[=URL('student_workspace_view/' +str(student_id)+'/'+str(problem_id))]]">[[=first_name]] [[=last_name]]'s Workspace</a></li>
          [[if user_role=='student' and help_eligible==True:]]
            <li><a href="[[=URL('student_workspace_list/'+str(problem_id))]]">Student Workspaces</a></li>
          [[pass]]
          [[i = len(submissions)]]
          [[sub_no = -1]]
          [[if role==1:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('view_submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[if s['id']==id:]][[sub_no = i]][[pass]]
              [[i-=1]]
            [[pass]]
          [[else:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[pass]]
        </ul>
    </div>
 
    <div id="problem">
      <b>Submitted At:</b> <span id="submitted_at"></span><br>
      [[if len(verdict)>0:]]
        <b>Status:</b> Graded [[=verdict[0]['verdict'] ]]<br>
        <b>Point: </b> [[=verdict[0]['score'] ]]
      [[else:]]
        <b>Status: </b>Not Graded
      [[pass]]
      <hr style="height:30px">
      <textarea id="editor1">[[=content]]</textarea>
      [[if user_role=='teacher' or user_role=='ta':]]
        <textarea id="feedback" placeholder="Optional feedback"></textarea>
        <div id="instructor-buttons" v-show="show">
            
            <button class="button is-success" v-on:click="mark_correct" >
                <span class="icon is-small">
                <i class="fas fa-check"></i>
                </span>
                <span>Correct</span>
            </button>
            <button class="button is-danger" v-on:click="mark_incorrect" >
                <span>Incorrect</span>
                <span class="icon is-small">
                <i class="fas fa-times"></i>
                </span>
            </button>
            
            <button class="button is-primary" v-on:click="download_file">
                <span class="icon is-small">
                <i class="fas fa-download"></i>
                </span>
                <span>Download File</span>
            </button>
            
        </div>
      [[pass]]
    </div>
    
  </div>
  
  