password.txt
src/.service
src/__pycache__
src/_default
src/_documentation
src/_dashboard
src/_scaffold
src/_minimal
src/colearning/__pycache__
.vscode/settings.json
src/colearning/static/codemirror-5.58.1/addon/.DS_Store
src/colearning/static/.DS_Store
src/colearning/.DS_Store
