<div>
      <div id="problem">
        <b>Feedback Given At:</b> [[=given_at.strftime("%b %-d, %Y %I:%M %p")]]<br>
        <hr style="height:30px">
        <table>
            <tr>
                <td>Code</td>
                <td>Feedback</td>
            </tr>
            <tr>
                <td><textarea id="editor1">[[=code_snapshot]]</textarea></td>
                <td><textarea id="editor2">[[=feedback]]</textarea></td>
            </tr>
        </table>
        
      
    </div>
    
</div>
  
  