[[if message is not None:]]
<span><label>Help Asked At: </label>[[=message['asked_at'].strftime("%b %-d, %Y %I:%M %p")]]</span>
<article class="message">
    <div class="message-header">Explain what are you trying to do</div>
    <div class="message-body">[[=message['what_trying_message'] ]]</div>
</article>
<article class="message">
    <div class="message-header">Explain the problem(s) the code has</div>
    <div class="message-body">[[=message['code_problem_message'] ]]</div>
</article>
[[pass]]
<div>
      <div id="problem">
        <b>Feedback Given At:</b> [[=given_at.strftime("%b %-d, %Y %I:%M %p")]]<br>
        <hr style="height:30px">
        <table>
            <tr>
                <th>Code</th>
                <th></th>
                <th>Feedback</th>
            </tr>
            <tr>
                <td style="width: 49%"><textarea id="editor1">[[=code_snapshot]]</textarea></td>
                <td style="width: 2%">&nbsp;</td>
                <td style="width: 49%"><textarea id="editor2">[[=feedback]]</textarea></td>
            </tr>
        </table>
        
      
    </div>
    
</div>
  
  