[[if message is not None:]]
<span><label>Help Asked At: </label><span id="help_asked_at"></span></span>
<article class="message">
    <div class="message-header">Explain the problem you are facing</div>
    <div class="message-body">[[=message['message'] ]]</div>
</article>
[[pass]]
<div>
      <div id="problem">
        <label>Feedback Given by:</label> [[=given_by]]<br>
        <label>Feedback Given At:</label> <span id="feedback_given_at"></span><br>
        <hr style="height:30px">
        <table>
            <tr>
                <th>Code</th>
                <th></th>
                <th>Feedback</th>
            </tr>
            <tr>
                <td style="width: 49%"><textarea id="editor1">[[=code_snapshot]]</textarea></td>
                <td style="width: 2%">&nbsp;</td>
                <td style="width: 49%"><textarea id="editor2">
                    [[=feedback]]</textarea></td>
            </tr>
        </table>
        
      
    </div>
    <div id="like_div">
        <label>Total Likes: </label>[[=total_like]] 
        <button class="button is-success" v-on:click="toggle_like" >
            <span class="icon is-small">
            <i class="fas fa-check"></i>
            </span>
            [[if like_given==1:]]
            <span>Remove Like</span>
            [[else:]]
            <span>Like</span>
            [[pass]]
        </button>
    </div>
    
</div>
  
  