[[extend 'layout_instructor.html']]
[[block page_head]]
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
<meta http-equiv="refresh" content="60">
[[end]]
<h3>Current Messages</h3>
<table class="table">
    <tbody>
        <tr>
            <th>Student Name</th>
            <th>Problem Name</th>
            <th>Message</th>
            <th>Last Responded Person</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
    
    [[for m in messages:]]
        
        <tr>
            <td>[[=m.student_id.first_name ]] [[=m.student_id.last_name]]</td>
            <td>[[=m.problem_id.problem_name]]</td>
            <td>[[if len(m.message)>15:]][[=m.message[:13]+".."]][[else:]][[=m.message]][[pass]]</td>
            <td>[[last_person = m.comment.select().last()]][[if last_person==None:]]--[[else:]][[=last_person.author_id.first_name]] [[=last_person.author_id.last_name]][[pass]]</td>
            <td><a class="button" href="[[=URL('student_workspace_view/'+str(m.student_id)+'/'+str(m.problem_id))]]">Go to Discussion</a></td>
        </tr>
    [[pass]]
     
    </tbody>
</table>
