[[extend 'layout_student.html']]
[[block page_head]]
<script src="codemirror-5.58.1/lib/codemirror.js"></script>
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<script src="codemirror-5.58.1/mode/python/python.js"></script>
<script src="codemirror-5.58.1/mode/clike/clike.js"></script>
<link rel="stylesheet" href="codemirror-5.58.1/theme/monokai.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
[[role=2]]
<div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="is-active"><a>Problem Information</a></li>
      <li><a href="[[=URL('student_workspace/'+str(student_id)+'/'+str(id))]]">Workspace</a></li>
      [[i = len(submissions)]]
      
        [[for s in submissions:]]
            <li><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
            [[i-=1]]
        [[pass]]
      
    </ul>
</div>
[[include 'problem_view_common.html']]
[[block page_scripts]]
<script>
    var editor = document.getElementById("code");
    var myCodeMirror = CodeMirror.fromTextArea(editor, {lineNumbers: true, mode: "[[="python" if language=="Python" else "text/x-java" if language=="Java" else "text/x-c++src"]]", theme: "monokai", matchBrackets: true, indentUnit: 4, indentWithTabs: true, readOnly: "nocursor"});

    var deadline = new Date(Date.UTC([[=deadline.year]], [[=deadline.month-1]], [[=deadline.day]], [[=deadline.hour]], [[=deadline.minute]], [[=deadline.second]], 0));
    document.getElementById("deadline").innerHTML = deadline.toLocaleString();
</script>
[[end]]