
[[block page_title]]Problem[[end]]
<div>
    <div><label>Problem Name: </label>[[=problem_name]]</div>
    <div><label>Deadline: </label>[[=deadline.strftime("%B %d, %Y %I:%M %p")]]</div>
    <div><label>Number of attempts allowed: </label>[[=attempts]]</div>
    <div><label>Maximum Score: </label>[[=max_points]]</div>
    <div><label>Problem Description: </label>[[=problem_description]]</div>
    <div><label>Language: </label>[[=language]]</div>
    <div><label>Code: </label><div><textarea id="code">[[=code]]</textarea></div></div>
    <div><label>Answer: </label>[[=answer]]</div>
    <div><label>Topics: </label>[[=topics]]</div>
</div>
