

[[block page_title]]Workspace[[end]]
<div>
    [[=H4(student_name, "' Workspace for Problem: ", problem.problem_name, _class='title is-4')]]
    
    <p id="countdown" style="text-align: right;font-size: 25px; margin-top: 0px;"></p>
    <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li class="is-active"><a>Workspace</a></li>
          [[i = len(submissions)]]
          [[if role==1:]]
            [[for s in submissions:]]
              <li><a href="[[=URL('view_submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[else:]]
            [[for s in submissions:]]
              <li><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[pass]]
        </ul>
    </div>
    <div>
        <b>Deadline:</b> [[=problem.deadline.strftime("%b %-d, %Y %I:%M %p")]]<br>
        <b>Remaining Attempts:</b> [[=workspace.attempt_left]]<br>
        <b>Points:</b> [[=problem.max_points]]<br>
        <b>Description:</b> [[=problem.problem_description]]<br>
        <hr style="height:30px">
        <textarea id="editor"> [[=workspace.content]]</textarea>
        [[if workspace.attempt_left>0 and role==2:]]
        <div id="submit-buttons">
          <button class="ui-button ui-widget ui-corner-all" id="submit-button" v-on:click="submit_code">Submit Answer</button>
          <!-- <button class="ui-button ui-widget ui-corner-all" id="help-button">Ask for help</button> -->
          <label role="button" for="x06">Ask for help / clarification</label>
              <div role="dialog">
                  <input type="checkbox" id="x06"/>
                  <div>
                     <label class="close" for="x06"></label>
                     <center class="white padded">
                       [[=help_form]]
                     </center>
                  </div>
                </div>
        </div>
        [[pass]]
       [[if role==1:]]
        <a target="_blank" href="[[=URL('give_feedback/'+str(workspace['id'])+'/2/'+ str(help_message_id) )]]" role="button">Give Feedback</a>
       [[pass]]
       
       <h5 class="title is-5">Feedbacks</h5>
       <table>
         <thead>
           <tr>
             <td>#</td>
             <td>Given At</td>
             <td></td>
           </tr>
         </thead>
         <tbody>
           [[for idx, feedback in enumerate(feedbacks):]]
              <tr>
                <td>[[=idx+1]]</td>
                <td>[[=feedback['given_at'].strftime("%b %-d, %Y %I:%M %p")]]</td>
                [[if role==1:]]
                  <td><a role="button" href="[[=URL('viewt_feedback/'+str(feedback['id']))]]">View</a></td>
                [[elif role==2:]]
                 <td><a role="button" href="[[=URL('view_feedback/'+str(feedback['id']))]]">View</a></td>
                [[pass]]
              </tr>
            [[pass]]
         </tbody>
       </table>
    </div>
</div>