[[extend 'layout_student.html']]
[[role=2]]
[[block page_head]]
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
[[include 'student_workspace_common.html']]

[[block page_scripts]]

<script src="codemirror-5.58.1/lib/codemirror.js"></script>

<script src="codemirror-5.58.1/mode/python/python.js"></script>
<script src="codemirror-5.58.1/mode/clike/clike.js"></script>

<script>
    var editor = document.getElementById("editor");
    var myCodeMirror = CodeMirror.fromTextArea(editor, {lineNumbers: true, mode: "[[="python" if problem.language=="Python" else "clike"]]", indentUnit: 4, indentWithTabs: true, cursorHeight: 0.75, readOnly: "nocursor"});
    
    // function sendContent(){
    //   try{
    //     axios.post("[[=URL('save_workspace')]]", {
    //       student_id: [[=workspace['student_id'] ]],
    //       problem_id: [[=workspace['problem_id'] ]],
    //       content: myCodeMirror.getValue()
    //     });
    //   }
    //   catch(err){
    //     console.log(err);
    //   }
    //   setTimeout(sendContent, [[=time_interval]]);
    // }
    // sendContent();
    [[if workspace.attempt_left>0:]]
    var submissionButtons = new Vue({
      el: "#submit-buttons",
      data: {},
      methods:{
        submit_code: function(event){
          axios.post("[[=URL('submission_handler')]]",{
            student_id: [[=workspace.student_id]], problem_id: [[=workspace.problem_id]], content: myCodeMirror.getValue(), 
            attempt_left: [[=workspace.attempt_left-1]], category: 1
          })
          .then(function(response){
            alert('Code submitted successfully.')
          })
          .catch(function(error){
            alert("Couldn't submit code. Plesae try again!")
          });
        }
      }
    });
    // $("#submit-button").on("click", function(e){
    //   $.ajax({
    //     method: 'POST',
    //     url: "[[=URL('submission_handler')]]",
    //     data: {student_id: [[=workspace.student_id]], problem_id: [[=workspace.problem_id]], content: myCodeMirror.getValue(), 
    //       attempt_left: [[=workspace.attempt_left-1]], category: 1},
    //   })
    //   .done(function(msg){
    //     alert(msg);
    //     location.reload();
    //   })
    //   .fail(function(){
    //     alert("Could not submit the answer! Please try again.");
    //   });
    // });
    // $("#help-button").on("click", function(e){
    //   $.ajax({
    //     method: 'POST',
    //     url: "[[=URL('submission_handler')]]",
    //     data: {student_id: [[=workspace.student_id]], problem_id: [[=workspace.problem_id]], content: myCodeMirror.getValue(), 
    //       attempt_left: [[=workspace.attempt_left-1]], category: 2},
    //   })
    //   .done(function(msg){
    //     alert(msg);
    //     // location.reload();
    //   })
    //   .fail(function(){
    //     alert("Could not submit the answer! Please try again.");
    //   });
    // });
    [[pass]]
    // Set the date we're counting down to
    var countDownDate = new Date([[=problem.deadline.year]], [[=problem.deadline.month-1]], [[=problem.deadline.day]], [[=problem.deadline.hour]], [[=problem.deadline.minute]], [[=problem.deadline.second]], 0).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("countdown").innerHTML = "Time Left: " + days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Submission Time Expired!";
      }
    }, 1000);
 
  
</script>
[[end]]
