[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
<table class="table">
    <tbody>
        <tr>
            <th>Student Name</th>
            
            
        </tr>
    </tbody>
    <tbody>
    
    [[for s in students:]]
        <tr>
            <td><a class="button" href="[[=URL('student_workspace_view/'+str(s['student_id'])+'/'+problem_id)]]">[[=s['first_name'] ]] [[=s['last_name'] ]]</a></td>
        </tr>
    [[pass]]
     
    </tbody>
</table>