[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
<div class="tabs is-medium">
    <ul>
      <li><a href="[[=URL('view_problem/'+str(problem_id))]]">Problem Information</a></li>
      <li class="is-active"><a>Student Workspaces</a></li>    
    </ul>
</div>

    <ul>
    [[for s in students:]]
        <li>
            <a href="[[=URL('student_workspace_view/'+str(s['student_id'])+'/'+problem_id)]]">[[=s['first_name'] ]] [[=s['last_name'] ]]</a> <a href="[[=URL('student_workspace_view/'+str(s['student_id'])+'/'+problem_id, hash='discussion_threads')]]"><i class="fas fa-comments"></i></a>
        </li>
    [[pass]]
     
    </ul>