<div>
    <p id="countdown" style="text-align: right;font-size: 25px; margin-top: 0px;"></p>
    <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li><a href="[[=URL(('view_' if role==1 else '')+'problem/'+str(problem_id))]]">Problem Information</a></li>
          <li><a href="[[=URL('student_workspace'+ ('_view/' if role==1 else '/') +str(student_id)+'/'+str(problem_id))]]">Workspace</a></li>
          [[i = len(submissions)]]
          [[if role==1:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('view_submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[else:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[pass]]
        </ul>
    </div>
 
    <div id="problem">
      <b>Problem:</b> [[=problem_name]]<br>
      <b>Student Name:</b> [[=first_name+' '+last_name]]<br>
      <b>Submitted At:</b> [[=submitted_at.strftime("%b %-d, %Y %I:%M %p")]]<br>
      [[if len(verdict)>0:]]
        <b>Status:</b> Graded [[=verdict[0]['verdict'] ]]<br>
        <b>Point: </b> [[=verdict[0]['score'] ]]
      [[else:]]
        <b>Status: </b>Not Graded
      [[pass]]
      <hr style="height:30px">
      <table>
        <tr>
            <th>Code</th>
            <th></th>
            <th>Comment</th>
        </tr>
        <tr>
            <td style="width: 49%"><textarea id="editor1">[[=content]]</textarea></td>
            <td style="width: 2%">&nbsp;</td>
            <td style="width: 49%"><textarea id="editor2">
              [[=comment]]</textarea></td>
        </tr>
    </table>
      [[if role==1:]]
        <div id="instructor-buttons" v-show="show">
            
            <button class="button is-success" v-on:click="mark_correct" >
                <span class="icon is-small">
                <i class="fas fa-check"></i>
                </span>
                <span>Correct</span>
            </button>
            <button class="button is-danger" v-on:click="mark_incorrect" >
                <span>Incorrect</span>
                <span class="icon is-small">
                <i class="fas fa-times"></i>
                </span>
            </button>
            
            <button class="button is-primary" v-on:click="submit_feedback">
                <span class="icon is-small">
                <i class="fas fa-comment"></i>
                </span>
                <span>Give Feedback</span>
            </button>
            
        </div>
      [[pass]]
    </div>
      

    <!-- <h5 class="title is-5">Feedback</h5>
       <table>
         <thead>
           <tr>
             <td>#</td>
             <td>Given At</td>
             <td></td>
           </tr>
         </thead>
         <tbody>
           [[for idx, feedback in enumerate(feedbacks):]]
              <tr>
                <td>[[=idx+1]]</td>
                <td>[[=feedback['given_at'].strftime("%b %-d, %Y %I:%M %p")]]</td>
                [[if role==1:]]
                  <td><a role="button" target="_blank" href="[[=URL('viewt_feedback/'+str(feedback['id']))]]">View</a></td>
                [[elif role==2:]]
                 <td><a role="button" target="_blank" href="[[=URL('view_feedback/'+str(feedback['id']))]]">View</a></td>
                [[pass]]
              </tr>
            [[pass]]
         </tbody>
       </table> -->

    
  </div>
  
  