<div>
    <p id="countdown" style="text-align: right;font-size: 25px; margin-top: 0px;"></p>
    <div class="tabs is-medium">
        <ul>
          <li><a href="[[=URL(('view_' if role==1 else '')+'problem/'+str(problem_id))]]">Problem Information</a></li>
          <li><a href="[[=URL('student_workspace_view/' +str(student_id)+'/'+str(problem_id))]]">Workspace</a></li>
          [[i = len(submissions)]]
          [[sub_no = -1]]
          [[if role==1:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('view_submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[if s['id']==id:]][[sub_no = i]][[pass]]
              [[i-=1]]
            [[pass]]
          [[else:]]
            [[for s in submissions:]]
              <li [[="class=is-active" if s['id']==id else ""]]><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
              [[i-=1]]
            [[pass]]
          [[pass]]
        </ul>
    </div>
 
    <div id="problem">
      <b>Submitted At:</b> <span id="submitted_at"></span><br>
      [[if len(verdict)>0:]]
        <b>Status:</b> Graded [[=verdict[0]['verdict'] ]]<br>
        <b>Point: </b> [[=verdict[0]['score'] ]]
      [[else:]]
        <b>Status: </b>Not Graded
      [[pass]]
      <hr style="height:30px">
      <textarea id="editor1">[[=content]]</textarea>
      [[if user_role=='instructor' or user_role=='ta':]]
        <textarea id="feedback" placeholder="Optional feedback"></textarea>
        <div id="instructor-buttons" v-show="show">
            
            <button class="button is-success" v-on:click="mark_correct" >
                <span class="icon is-small">
                <i class="fas fa-check"></i>
                </span>
                <span>Correct</span>
            </button>
            <button class="button is-danger" v-on:click="mark_incorrect" >
                <span>Incorrect</span>
                <span class="icon is-small">
                <i class="fas fa-times"></i>
                </span>
            </button>
            
            <button class="button is-primary" v-on:click="download_file">
                <span class="icon is-small">
                <i class="fas fa-download"></i>
                </span>
                <span>Download File</span>
            </button>
            
        </div>
      [[pass]]
    </div>
      

    <!-- <h5 class="title is-5">Feedback</h5>
       <table>
         <thead>
           <tr>
             <td>#</td>
             <td>Given At</td>
             <td></td>
           </tr>
         </thead>
         <tbody>
           [[for idx, feedback in enumerate(feedbacks):]]
              <tr>
                <td>[[=idx+1]]</td>
                <td>[[=feedback['given_at'].strftime("%b %-d, %Y %I:%M %p")]]</td>
                [[if role==1:]]
                  <td><a role="button" target="_blank" href="[[=URL('viewt_feedback/'+str(feedback['id']))]]">View</a></td>
                [[elif role==2:]]
                 <td><a role="button" target="_blank" href="[[=URL('view_feedback/'+str(feedback['id']))]]">View</a></td>
                [[pass]]
              </tr>
            [[pass]]
         </tbody>
       </table> -->

    
  </div>
  
  