[[extend 'layout_student.html']]
[[block page_head]]
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]

[[role=2]]
[[include "submission_common.html"]]

[[block page_scripts]]
  <script src="codemirror-5.58.1/lib/codemirror.js"></script>
  <script src="codemirror-5.58.1/mode/python/python.js"></script>
  <script>
      var editor1 = document.getElementById("editor1");
      var myCodeMirror1 = CodeMirror.fromTextArea(editor1, {lineNumbers: true, mode: "python", indentUnit: 4, indentWithTabs: true, cursorHeight: 0.75, readOnly: "nocursor"});
      var editor2 = document.getElementById("editor2");
      var myCodeMirror2 = CodeMirror.fromTextArea(editor2, {lineNumbers: true, mode: "python", indentUnit: 4, indentWithTabs: true, cursorHeight: 0.75[[if role==2:]], readOnly: "nocursor"[[pass]]});
      
      [[if role==1:]]
      
         var instroctor_buttons = new Vue({
              el: '#instructor-buttons',
              data: {show: true},
              methods: {
                  [[if submission_category==1:]]
                  mark_correct: async function(event){
                      var feedback = myCodeMirror2.getValue().trim();
                      if (feedback.startsWith("# Write the feedback here")==true){
                          feedback = feedback.replace("# Write the feedback here", "");
                      }
                      this.show = await axios.get("[[=URL('submission_grader')]]", {
                          params: {
                          submission_id: [[=id]], correct: 1, feedback: feedback
                      }})
                      .then(function(msg){
                          alert("Graded successfully.");
                          return false;
  
                      })
                      .catch(function(e){
                          alert("Could not grade! Please try again.");
                          return true;
                      });
                  },
                  mark_incorrect: async function(event){
                      var partial_credit = prompt("Please confirm credit for grading.", "0");
                      if (partial_credit==null)
                          partial_credit = 0;
                      else{
                          partial_credit = parseFloat(partial_credit);
                      }
                      var feedback = myCodeMirror2.getValue().trim();
                      if (feedback.startsWith("# Write the feedback here")==true){
                          feedback = feedback.replace("# Write the feedback here", "");
                      }
                      this.show = await axios.get("[[=URL('submission_grader')]]", {
                          params: {
                              submission_id: [[=id]], correct: 0, credit: partial_credit, feedback: feedback
                      }})
                      .then(function(msg){
                          alert("Graded successfully.");
                          return false;
  
                      })
                      .catch(function(e){
                          alert("Could not grade! Please try again.");
                          return true;
                      });
                  }
                  [[elif submission_category==2:]]
                  submit_feedback: async function(event){
                      var feedback = myCodeMirror2.getValue().trim();
                      if (feedback.startsWith("# Write the feedback here")==true){
                          feedback = feedback.replace("# Write the feedback here", "");
                      }
                      this.show = await axios.get("[[=URL('submission_grader')]]", {
                          params: {
                              submission_id: [[=id]], correct: -1, feedback: feedback
                      }})
                      .then(function(msg){
                          alert("Feedback submitted successfully.");
                          return false;
  
                      })
                      .catch(function(){
                          alert("Could not submit feedback! Please try again.");
                          return true;
                      });
                  }
                  [[pass]]
              }
          });
      [[pass]]
     
  </script>
  [[end]]