[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<link rel="stylesheet" href="codemirror-5.58.1/theme/monokai.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]

[[role=1]]
[[include "submission_common.html"]]

[[block page_scripts]]
  <script src="codemirror-5.58.1/lib/codemirror.js"></script>
  <script src="codemirror-5.58.1/mode/python/python.js"></script>
  <script src="codemirror-5.58.1/mode/clike/clike.js"></script>
  <script>
      var editor1 = document.getElementById("editor1");
      var myCodeMirror = CodeMirror.fromTextArea(editor1, {lineNumbers: true, mode: "[[="python" if language=="Python" else "text/x-java" if language=="Java" else "text/x-c++src"]]", theme: "monokai", matchBrackets: true, indentUnit: 4, indentWithTabs: true, readOnly: "nocursor"});
      var editor2 = document.getElementById("editor2");
      var myCodeMirror2 = CodeMirror.fromTextArea(editor2, {lineNumbers: true, mode: "null", theme: 'monokai', indentWithTabs: true, cursorHeight: 0.75, readOnly: "nocursor"});
      var graded = -1;
      [[if len(verdict)>0 and verdict[0]['verdict']=="correct": ]]
        graded = 1;
      [[elif len(verdict)>0 and verdict[0]['verdict']=="incorrect": ]]
        graded = 0
     [[pass]]
      [[if role==1:]]
      
         var instroctor_buttons = new Vue({
              el: '#instructor-buttons',
              data: {show: true},
              methods: {
                  
                  mark_correct: function(event){
                    if(graded == 1){
                        alert("This submission already graded as correct!");
                        return
                    }
                    if(graded == 0){
                        var r = confirm("This submission has been graded as incorrect. Do you want to grade again?");
                        if (r == false){
                            return
                        }
                    }
                    axios.get("[[=URL('submission_grader')]]", {
                        params: {
                        submission_id: [[=id]], correct: 1
                    }})
                    .then(function(msg){
                        alert("Submission graded as correct.");
                        window.location.replace("[[=referer]]")

                    })
                    .catch(function(e){
                        alert("Could not grade! Please try again.");
                    });
                    
                  },
                  mark_incorrect: function(event){
                      if (graded != -1){
                          var r = confirm("This submission has been graded. Do you want to grade again?");
                          if (r == false)
                            return
                      }
                      var partial_credit = prompt("Please confirm credit for grading.", "0");
                      if (partial_credit==null)
                          partial_credit = 0;
                      else{
                          partial_credit = parseFloat(partial_credit);
                      }
                      
                      axios.get("[[=URL('submission_grader')]]", {
                          params: {
                              submission_id: [[=id]], correct: 0, credit: partial_credit
                      }})
                      .then(function(msg){
                          if (partial_credit>0)
                            alert("Submission graded as incorrect with partial credit "+partial_credit);
                          else
                            alert("Submission graded as incorrect");
                          window.location.replace("[[=referer]]")
  
                      })
                      .catch(function(e){
                          alert("Could not grade! Please try again.");
                      });
                  },
                  
                  submit_feedback: async function(event){
                      window.open("[[=URL('give_feedback/'+str(id)+'/1/'+str(help_message_id))]]")
                  }
                  
              }
          });
      [[pass]]
     
  </script>
  [[end]]