[[extend "layout_instructor.html"]]
[[block page_head]]
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
<b>Student:</b> [[=student_name]]<br>
<b>Problem:</b> [[=problem['problem_name'] ]]
<article class="message">
    <div class="message-header">Message</div>
    <div class="message-body">[[=message['message'] ]]</div>
</article>
<br>
[[if submission is not None:]]
<a href="[[=URL('view_submission/'+str(submission['id']))]]" class="button is-primary">Go to the code</a>
[[else:]]
<a href="[[=URL('student_workspace_view/'+str(message['student_id'])+'/'+str(message['problem_id']))]]" class="button is-primary"> Go to the code</a>
[[pass]]