[[extend 'layout_instructor.html']]
[[block page_head]]
<script src="codemirror-5.58.1/lib/codemirror.js"></script>
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<script src="codemirror-5.58.1/mode/python/python.js"></script>
<script src="codemirror-5.58.1/mode/clike/clike.js"></script>
<link rel="stylesheet" href="codemirror-5.58.1/theme/monokai.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]
[[role=1]]
<div class="tabs is-medium">
    <ul>
      <li class="is-active"><a>Problem Information</a></li>
      [[if user_role=='student':]]
      <li><a href="[[=URL('student_workspace_view/'+str(student_id)+'/'+str(id))]]">Workspace</a></li>
      [[pass]]
      [[if help_eligible==True:]]
      <li><a href="[[=URL('student_workspace_list/'+str(id))]]">Student Workspaces</a></li>
      [[pass]]
      [[i = len(submissions)]]
      
        [[for s in submissions:]]
            <li><a href="[[=URL('submission/'+str(s['id']))]]">Submission [[=i]]</a></li>
            [[i-=1]]
        [[pass]]
    </ul>
</div>
[[include 'problem_view_common.html']]
[[if user_role=='instructor':]]
[[if deadline is None:]]
<a role="button" href="[[=URL('publish_problem_'+('inclass/' if type=='in-class' else 'homework/')+str(id))]]">Publish</a>
[[else:]]
<a role="button" href="[[=URL('publish_problem_'+('inclass/' if type=='in-class' else 'homework/')+str(id))]]">Republish</a>
[[pass]]
[[pass]]
[[if user_role=='insttructor' or user_role=='ta':]]
<a role="button" href="[[=URL('edit_problem/'+str(id))]]">Edit</a>
[[pass]]
[[block page_scripts]]
<script>
    var editor = document.getElementById("code");
    var myCodeMirror = CodeMirror.fromTextArea(editor, {lineNumbers: true, mode: "[[="python" if language=="Python" else "text/x-java" if language=="Java" else "text/x-c++src"]]", theme: "monokai", matchBrackets: true, indentUnit: 4, indentWithTabs: true, readOnly: "nocursor"});
    
    [[if deadline is not None:]]
      var deadline = new Date(Date.UTC([[=deadline.year]], [[=deadline.month-1]], [[=deadline.day]], [[=deadline.hour]], [[=deadline.minute]], [[=deadline.second]], 0));
      document.getElementById("deadline").innerHTML = deadline.toLocaleString();
    [[pass]]
</script>
[[end]]