[[extend 'layout_instructor.html']]
[[block page_head]]
<link rel="stylesheet" href="codemirror-5.58.1/lib/codemirror.css">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
[[end]]

[[role=1]]
[[include "submission_common.html"]]

[[block page_scripts]]
  <script src="codemirror-5.58.1/lib/codemirror.js"></script>
  <script src="codemirror-5.58.1/mode/python/python.js"></script>
  <script>
      var editor1 = document.getElementById("editor1");
      var myCodeMirror1 = CodeMirror.fromTextArea(editor1, {lineNumbers: true, mode: "python", indentUnit: 4, indentWithTabs: true, cursorHeight: 0.75, readOnly: "nocursor"});
      
      [[if role==1:]]
      
         var instroctor_buttons = new Vue({
              el: '#instructor-buttons',
              data: {show: true},
              methods: {
                  
                  mark_correct: async function(event){
                     
                      this.show = await axios.get("[[=URL('submission_grader')]]", {
                          params: {
                          submission_id: [[=id]], correct: 1
                      }})
                      .then(function(msg){
                          alert("Graded successfully.");
                          return false;
  
                      })
                      .catch(function(e){
                          alert("Could not grade! Please try again.");
                          return true;
                      });
                  },
                  mark_incorrect: async function(event){
                      var partial_credit = prompt("Please confirm credit for grading.", "0");
                      if (partial_credit==null)
                          partial_credit = 0;
                      else{
                          partial_credit = parseFloat(partial_credit);
                      }
                      
                      this.show = await axios.get("[[=URL('submission_grader')]]", {
                          params: {
                              submission_id: [[=id]], correct: 0, credit: partial_credit
                      }})
                      .then(function(msg){
                          alert("Graded successfully.");
                          return false;
  
                      })
                      .catch(function(e){
                          alert("Could not grade! Please try again.");
                          return true;
                      });
                  },
                  
                  submit_feedback: async function(event){
                      window.open("[[=URL('give_feedback/'+str(id)+'/1')]]", "_blank")
                  }
                  
              }
          });
      [[pass]]
     
  </script>
  [[end]]